<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background: #1A2980; background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); background: linear-gradient(to left, #1A2980 , #26D0CE);">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
            <p>{{ site.eventDate }}</p>
            {% for button in site.heroButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} # {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}onclick="chrome.webstore.install(); fbq('track', 'Lead');" id="install-button"{% endif %}>{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="#features" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    
        <!--<img class="screen-left" src="https://s3.amazonaws.com/slackscrapemedia/screen/screen_1.png" height="500" alt="SlackScrape" data-pin-nopin="true">-->
        <!--<img class="screen" src="https://s3.amazonaws.com/slackscrapemedia/screen/screen_1.png" height="500" alt="SlackScrape" data-pin-nopin="true">-->
    <img class="badge" src="img/webstore/storebadge.png" alt="206x58 Chrome Web Store badge, no border" data-pin-nopin="true">    
    </div>
</section>
<!-- End Hero Section -->