<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background: #00d2ff; background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); background: linear-gradient(to left, #00d2ff , #3a7bd5);">
    <div class="overlay solid-overlay"></div>
    
    <div class="content-wrapper">
        
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>We can scrape these slack groups and more</h3>

{% for group in site.data.slack_group %}

<div class="col-md-4">
<div class="card card-block" style="height:225px">
  <h5 class="card-title" style="color: #333">{{ group.name }}</h5>
                    <p class="card-text" style="color: #333">{{ group.desc }}</p>
                    <a href="{{ group.link }}" target="_blank" class="btn btn-primary">Join the group</a>
</div>
</div>
{% endfor %}

            
        </div>
    </div>
</section>
<!-- End Subscribe Section -->